.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Helvetica";
}

form {
  display: flex;
  flex-direction: column;
}

form span {
  font-size: 18px;
  margin-bottom: 5px;
}

h1 {
  font-size: 40px;
}

input {
  appearance: none;
  color: rgb(54, 49, 53);
  padding: 10px;
  border: 1px solid rgb(219, 217, 219);
  border-radius: 5px;
  font-size: 20px;
}

input:focus {
  border-color: #404040;
  outline: none;
}

button {
  background: rgb(236, 44, 34);
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 15px;
  height: 40px;
  width: 100px;
}

button:hover {
  background: rgb(210, 44, 34);
}

button:active {
  background: white;
  border: 2px solid rgb(236, 44, 34);
  color: rgb(236, 44, 34);
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: white;
}

.error {
  color: rgb(180, 134, 41);
  border: 1px solid rgb(180, 134, 41);
  background-color: rgb(255, 249, 223);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.input-error {
  border: 1px solid rgb(180, 134, 41);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 0px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}
